*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;

}
.card{
    background-color: azure;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.473);
    margin: 10px;
    padding: 30px;
    transition: 1s ease;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.1);
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
p{
    font-weight: bold;
}

img{
    border-radius: 5px;
    height: 200px;
    width: 300px;
}
